.grupo_tarjetas {

    .tarjeta {
        border: solid thin;
        margin-right: 1%;
        background-color: rgba(255, 255, 255, 0.37);
        margin-top: 5% !important;
    }

}

.galeria{
    margin-top: 10%;
    margin-left: 1% ;
    background-color: rgba(255, 255, 255, 0.37);
    height: 60%;

}
 
img{
    width: 300px !important;
    height: 300px !important;
}
.btn{
    margin-bottom: 1%;
}

.col {
    margin-top: 3%;
    margin-left: 5%;
}