
body {
	
    background-image: url("../../img/fondoindex.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #8EB8F1;
}