/*****************Botones****************************/
.boton_generico{
    border-style: none;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.794);
    color: rgb(10, 92, 224);
   
    border-radius: 10px;
    transition: 2s ;
          
   

}
.boton_generico:hover{

    animation-name: boton;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: white;
}
@keyframes boton {
    from {box-shadow: 0 0 15px rgb(255, 255, 255);
    background-color: rgba(12, 147, 224, 0.5);}
    to {box-shadow: 0 0 55px rgb(0, 0, 0);
        background-color: rgb(12, 146, 224);}
  }