@media screen and (max-width: 2000px) {
    .ancla {
        margin-left: 97%;
    }
}

@media screen and (max-width: 1700px) {
    .ancla {
        margin-left: 95%;
    }
}

@media screen and (max-width:1200px) {
    .ancla {
        margin-left: 94%;
    }
}

@media screen and (max-width: 900px) {
    .ancla {
        margin-left: 90%;
    }
}

@media screen and (max-width: 400px) {
    .ancla {
        margin-left: 84%;
    }
}

@media screen and (max-width: 800px) and (max-width: 1199px) {
    #cuerpo #saber {
        /*contenedor con los parrafos sobre nosotros*/
        width: 70%;
        height: 25%;
    }
    #ubicacion {
        margin-right: 2%;
        font-size: x-small;
    }
    #ubicacion * {
        margin-top: 0%;
    }
    h1 {
        font-size: x-large;
        padding: 1%;
    }
    .mapouter {
        display: none;
    }

    #carousel1 img {
        object-fit: cover!important;
    }
}

@media screen and (max-width: 400px) and (max-width: 799px) {
    #cuerpo #saber {
        /*contenedor con los parrafos sobre nosotros*/
        width: 70%;
        height: 25%;
    }
    #ubicacion {
        margin-right: 2%;
        font-size: x-small;
        overflow: scroll;
    }
    #ubicacion * {
        margin-top: 0%;
    }
    h1 {
        font-size: x-large;
        padding: 1%;
    }
    .mapouter {
        display: none;
    }

    

}